body {
  margin: 0px;
}

canvas {
  background-image: url("https://static.vecteezy.com/system/resources/previews/021/015/287/original/dark-neon-hexagon-gaming-background-vector.jpg");
}

img {
  display: none;
}
